.error {
    position: relative;
    left: 0;
    top: 0;
    font-size: 13px;
    transform: translateY(-60%);
    font-family: 'Righteous', cursive;
    color: #ff0000;
}
.image-height {
    height: 540px;
    width: 400px;
}

@media only screen and (max-width: 640px) {
    /* For tablets and mobile: */
    .h-image {
        display: none;
    }
    .image-height {
        height: 300px;
        margin-top: -50px;
    }
}
